

body {
    background: linear-gradient( #e0e4ff, #fdfcf7);
    font-family: 'Roboto', 'sans-serif';
    margin: 0px;
    padding: 0 12%;
    min-height: 100vh;
    min-width: 100vh;
}

main {
  background-color: #fdfcf7;
  padding-top: 100px;
  
}


.main-btn {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    border: none;
    background-color: #ABB4FE;
    font-size: 17px;;
    left: 50px;
    color: white;
    transform: translateY(-50%);
    top: 11%;
    position: fixed;
  }

.main-btn:hover{
    background-color: white;
    cursor: pointer;
    width: 55px;
    height: 55px;
}


.title {
    text-align: center;
    font-family: 'Faster One', 'sans-serif';
    font-weight: bold;
    color: #ABB4FE;
    font-size: 6vw;
    line-height: 66px;
    letter-spacing: 25px;
    margin-bottom: 100px;
}

@media (max-width: 600px) {
  .title {
    font-size: 72px;
  }
  .main-btn{
    left: 20px;
  }
}

img{
  width: 35px;
  height: 35px;
  color:#ABB4FE
}

.title-small {
    letter-spacing: 5px;
    font-weight: 900;
    color: rgb(255, 255, 255);
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto', 'sans-serif';
    -webkit-text-stroke-width: 1.5px;
    -webkit-text-stroke-color: #000000;
    padding: 0;
}

.text {
    color: #ABB4FE;
    font-size: 18px;
}


.container {
    margin-top: 100px;

}

.table-box{
  overflow-x: auto;
}

table {
  font-weight: bolder;
  border-collapse: collapse;
  width: 100%;
  text-align: center;

  }
  
  th {
    background-color: #ABB4FE; 
    color: white;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    border: 1px solid #e0e4ff;
  }
  
  td {
    background-color: #e0e4ff; 
    color: black;
    font-size: 14px;
    padding: 10px;
    border: 1px solid #ABB4FE;

  }

.margin-top-100{
    margin-top: 100px;
}

#displayButton {
    background-color: #ABB4FE; 
    border: white 3px solid;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 17px;
    font-weight: bold;
    color: white;
    margin: 20px 20px;
    cursor: pointer;
    border-radius: 10px;
    outline: none;
  }
  
  #displayButton:hover {
    background-color: #fdfcf7;
    border: #ABB4FE 3px solid;
    color: #ABB4FE;
  }
  

  footer {
    text-align: center;
    padding: 100px 0 30px 0;
  }

  .chartcon1 {
    width: 50%;
    margin: 0 auto;
  }

  .chartcon2 {
    width: 75%;
    margin: 0 auto;
  }